.service{
    background-color: #f6f6f6;
    margin-top: 100px;
}
.header{
    text-align: center;
    padding-top: 35px;
}
.header header{

}

.about-img img{width: 85%;}

.about-text{
    width: 50%;
    margin-right: 30px;
}
.header header{
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
}
.header header::after{
    content: '';
    position: absolute;
    width: 72px;
    height: 2px;
    background-color: #ff7745;
    top: 45px;
    right: 47%;
    
    
}
.header span{
    margin-bottom: 5px;
    color: #ff7745;
}

.all-divs{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin-top: 50px;
}
.all-divs .service-box{
    width: 350px;
    height: 280px;
    background-color: #fff;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.all-divs .service-box .service-icon{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    line-height: 80px;
    text-align: center;
    margin-top: 25px;
}
.all-divs .service-box .service-icon i{
    color: #fff;
    font-size: 25px;
}
.all-divs .service-box:nth-child(1) .service-icon{background-color:#ed5217 ;    box-shadow: 0px 0px 0px 6px #ed521738;}
.all-divs .service-box:nth-child(2) .service-icon{background-color: #67E4B2;    box-shadow: 0px 0px 0px 6px #67e4b233;}
.all-divs .service-box:nth-child(3) .service-icon{background-color:#B471FF ;    box-shadow: 0px 0px 0px 6px #b471ff33;}
.all-divs .service-box:nth-child(4) .service-icon{background-color:#75CDFF ;    box-shadow: 0px 0px 0px 6px #75cdff3d;}
.all-divs .service-box:nth-child(5) .service-icon{background-color:#FEC14E ;    box-shadow:0px 0px 0px 6px #fec14e36;}
.all-divs .service-box:nth-child(6) .service-icon{background-color:#FF477D ;    box-shadow: 0px 0px 0px 6px #ed521738;}

.all-divs .service-box .service-text-box{
    display: flex;
    margin-top: 35px;
    flex-direction: column;
    align-items: center;
}

.all-divs .service-box .service-text-box h4{
    color: #3b2a4f;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
}
.all-divs .service-box .service-text-box p{
    width: 80%;
    text-align: center;
    color: #777;
}