.contact{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-bottom: 70px;
    margin-top: 70px;
}
.img-comtact{
    width: 495px;
    height: 430px;
}
.img-comtact img{
    height:100%;
}

h1{
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 10px;
}
form{    margin-left: 80px;}

.name input, select,textarea{
    width: 272px;
    height: 44px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: #f4f1f1;
    padding: 10px;
    color: #747474;
}
textarea{
    width: 556px;
    height: 125px;

}

